{% extends "AppBundle::layout.html.twig" %}
{% block title %}
Sorteo | {{ parent() }}
{% endblock %}
{% block body %}
<section class="content-header">
  <h1>
    <i class="fa fa-barcode"></i> Recarga
    <small>Formulario de creación recargas</small>
  </h1>
  {#{% include 'AppBundle:Default:breadcrumb.html.twig' %}#}
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                {# <div class="box-body box-profile"> #}
                    <div class="box-header with-border">
                        <h3 class="box-title">Formulario</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="{{ path('recarga_create')}}" method="POST" role="form">
                        {% form_theme form 'AppBundle:Form:adminlte_fields_centered_form.html.twig' %}
	                    <div class="box-body">
                            {% include "AppBundle:Recarga:form.html.twig" %}
                            <div class="box-footer">
                                <div class="col-sm-offset-4 col-sm-3">
                                    <a href="{{ path('recarga') }}" class="btn btn-default">
                                        <i class="fa fa-times-circle"></i> Cancelar
                                    </a>
                                    <button type="submit" name="subvalider" class="btn btn-primary pull-right">
                                        <i class="fa fa-edit"></i> Crear códigos
                                    </button>
                                </div>
                            </div>
                        </div>
                        {# </div> #}
                    </form>
                {# </div> <!-- ./box-body box-profile --> #}
            </div>
        </div> <!-- ./col-md-6 -->
    </div> <!-- ./row -->
</section>
{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script>
    (function($) {
    })(jQuery);
</script>
{% endblock %}
