{% block subject username ~ ', ' %}

{% block body_html %}
    tu(s) número(s) no ha(n) salido premiados<strong></strong>.
{% endblock %}

{% block body_text %}
    Visita el siguiente <a href="{{ link }}">link</a> para ver los resultados.<br/>No pierdas una oportunidad más, vuelve a participar presionando <a href="{{ linkToSorteo }}">aquí</a>.
{% endblock %}